<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
  <link th:href="@{/css/faq.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/faq.js}" type="text/javascript"></script>
</th:block>
<div layout:fragment="content">
    <div class="csCenter">
      <div class="text-center">
        <h2 class="display-5 mb-3">고객 센터</h2>
          <p style="color:#777;font-size:15px;">고객님의 질문에 성심껏 답변해 드리겠습니다.</p>
          <div class="cusSub">
            <ul class="customerTab cf">
              <li class="on"><a href="/CsCenter/faq">FAQ</a></li>
              <li><a href="/CsCenter/asSubmit">A/S신청</a></li>
              <li><a href="/CsCenter/notices">공지사항</a></li>
            </ul>
            <ul class="faqTab cf">
              <li class="on"><a href="#">상품문의</a></li>
              <li><a href="#">교환/환불/반품</a></li>
              <li><a href="#">주문/배송</a></li>
              <li><a href="#">AS/품질보증</a></li>
            </ul>
            <div class="faqCon">
<!--              아코디언 컨텐츠-->
              <dl class="con1" id="con1" style="display:block;">
                  <dt class="on"><span>Q</span>침대를 처음 사용하는데 어떤 제품이 좋은가요?</dt>
                  <dd style="display:none;">
                      <span>A</span><div><p>우리나라 사람은 온돌 문화에 익숙해져있어, 침대가 딱딱하게 제작되는 경우가 많습니다. 그러나 침대가 너무 딱딱하면 사람의 혈류를 방해하는 단점이 있어 단단하지만 딱딱하지 않고,
                    부드럽지만 무르지 않은 침대가 좋은 침대입니다. 좋은 스프링을 통해 인체에 대한 지지력을 유지하고 충실한 내장재를 사용하여 부드러움을 제공하는 침대가 품질이 좋은 침대입니다.
                    매장에 방문하셔서 제품에 대한 설명과 함께 체험을 통해 자신에게 가장 적합한 매트리스를 찾는것이 고객님께 가장 좋은 침대가 될 것입니다.</p></div>
                  </dd>
                  <dt><span>Q</span>자신에게 적합한 매트리스란 무엇인가요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>사람마다 체형과 체중, 수면습관이 다르기에 개인에게 맞는 매트리스도 다릅니다. 그렇기때문에 BedBliss는 다양한 고객의 건강한 수면을 위해 여러종류의 매트리스를 생산하고 있습니다.
                      각 제품마다 Hard-Regular-Soft한 특징이 있으며, 개인의 특성에 따라 알맞은 매트리스를 선택하는 것이 좋습니다. 일반적으로 자신의 체형이나 체중에 맞아 누웠을때 안락감을 느끼고
                      누운 자세가 일직선을 이루는 것이 건강뿐 아니라 숙면에도 좋은 침대이며, 매장에서 직접 체험해보신 후 구입하는 것을 권장해드립니다.</p></div>
                  </dd>
                  <dt><span>Q</span>정품확인을 할 수 있는 방법은 무엇인가요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>정품은 라벨 및 검사필증이 부착되어있어 BedBliss의 정품확인을 할 수 있습니다. 침대프레임은 헤드 뒤쪽에, 매트리스는 측면에, 협탁은 뒤쪽에 검사필증이 부착되어있습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>제품의 생산일자는 어떻게 확인하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>매트리스는 머리나 발쪽 측면에 검사필증 라벨이 부착되어 라벨에서 제조년월일을 확인할 수 있으며, 프레임의 경우 머리판 뒷면 검사필증 라벨 안에 매트리스와 같이 제조년월일을
                      확인할 수 있습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>침대에서 소리가 나는건 왜 그런거죠?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>설치할 때 수평을 잘 맞추고 정기적으로 볼트를 조여 주셔야 합니다. 초기에 완벽하게 설치된 제품도 사용 중 프레임 연결 부위가 헐거워질 수 있으므로
                      정기적인 점검을 해주셔야 합니다.</p></div>
                  </dd>
                  <dt><span>Q</span>프레임은 어떻게 닦아야 하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>일반적으로 물걸레나 마른걸레로 닦아주시면 됩니다. 오염이 심할 경우(찌든 때, 기름 때 등) 휘발성을 약하게 띠는 기구 전용 세정제(슈퍼, 할인마트 통해 구입가능)를 사용하여
                      가볍게 닦아주시면 더욱 좋습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>매트리스가 젖었을 경우에는 어떻게 해야하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>마른 수건으로 물기를 닦아내고 드라이기를 이용하여 말리신 후 바람이 잘 통하는 그늘에서 건조시켜주시면 됩니다.</p></div>
                  </dd>
                  <dt><span>Q</span>매트리스는 세탁할 수 없나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>매트리스 상단 겉표면의 오염 정도가 심하지 않을 경우 솔에 세제를 묻혀 가볍게 문질러 줌으로써 간단하게 세탁이 가능합니다. 하지만 오염물이 제거되지 않을 경우나
                      일반적인 세탁은 매트리스 청소 대행 업체를 통해서 하셔야 하며 일반 포털 사이트에 '매트리스 세탁' 또는 '매트리스 청소'라는 키워드로 검색하셔서 문의하시면 됩니다.
                      만약 오염도가 심해 세탁으로도 제거되지 않거나 매트리스를 조금 더 위생적으로 사용하시길 원하시면 BedBliss A/S 센터를 통해 매트리스 커버와 내장재를 유상으로 교체해드립니다.</p></div>
                  </dd>
                  <dt><span>Q</span>매장에 전시되어있는 매트리스와 구입한 매트리스의 느낌이 달라요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>매트리스의 내장재 특성 상 시간이 경과됨에 따라 쿠션감이 달라질수 있습니다. 매장에 진열된 매트리스의 경우 많은 고객님들께서 체험을 제공하기 위한 상품이므로
                      최소 6개월에서 1년 이상 진열되었던 상품입니다. 그렇기 때문에 처음 배송받은 매트리스와 느낌이 다른 것은 정상적인 현상입니다.</p></div>
                  </dd>
              </dl>
              <dl class="con2" id="con2" style="display:none;">
                  <dt class="on"><span>Q</span>교환/반품 신청은 어떻게 하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>교환 또는 반품 신청은 BedBliss 고객센터(1899-1234)를 통해 접수가능합니다.
                      <br><br>※ 고객 변심에 의한 교환 및 반품은 상품 인도 후 7일 이내 신청이 가능하며, 이 경우
                      반품 배송비가 발생됩니다. <br>단, 매트리스의 경우 고객님이 사용하신 후에는 가치가 현저히
                      감소하므로, 비닐 포장을 제거하거나 조립설치하여 사용한 후에는 교환 및 반품이 불가합니다.<br>
                      ※ 재화 등이 표시, 광고 내용과 다르거나 계약 내용과 다르게 이행된 경우에는 그 재화 등을
                      공급받은 날로부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 교환 및 반품이 가능합니다.</p></div>
                  </dd>
                  <dt><span>Q</span>하자가 있는 상품을 배송 받았는데 다른 상품으로 교환이 가능한가요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>먼저 불편을 드려 죄송합니다. 하자가 있는 상품일 경우
                      동일 상품에 한해서만 교환 및 반품이 가능합니다. 고객센터(1899-1234)로 문의주시면
                      신속히 처리해 드리겠습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>환불 확인은 어디에서 하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>로그인 후 MYPAGE의 주문/배송 정보 메뉴에서 확인할 수 있습니다.</p></div>
                  </dd>
              </dl>
              <dl class="con3" id="con3" style="display:none;">
                    <dt class="on"><span>Q</span>프레임만 구입이 가능한가요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>사이트에서는 침대프레임과 매트리스가 포함된 침대세트만 구입이 가능합니다. 프레임만 구입을 원하실 경우 가까운 대리점과 상담하시면 가능하실 수
                            있습니다. 더불어 이동서랍은 침대와 세트로만 판매가 가능하며, 침대 밑에 일정 공간(최소 높이 16cm)이 있어야 사용이 가능한 제품입니다.</p></div>
                    </dd>
                    <dt><span>Q</span>기존에 있던 매트리스도 수거해 가나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>BedBliss에서 수거해서 처리하려면 산업폐기물로 분류되어 추가 물류비가 발생되어 수거를 하지 않고 있습니다. 고객님들이 사용하시던 침대는 해당
                            동사무소 또는 구청에서 폐기물처리 접수하고 있습니다. 동사무소에서 처리해드리는 것은 주민들의 편의를 위한 가정폐기물 처리입니다. 동사무소로 문의하시면 자세히
                            안내받으실 수 있습니다. 원하신다면 고객님께서 사용하시던 침대는 1층에 내려드릴 수 있습니다. 감사합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>지정일 배송을 요청하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>고객님께서 구입하신 구입처(대리점/백화점/인터넷)로 지정 배송일을 요청하시면 됩니다. 단, 배송시간 지정은 불가합니다.<br>
                            ※ 배송시간은 9:30 ~ 18:00에 이루어지며, 이 외 시간은 배송이 불가합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송 기간은 얼마나 걸리나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>상품의 평균 배송일은 광역시 기준, 3~4일(주말, 공휴일 제외) 정도 소요되며 설치 및 제작이 필요한 상품의 경우 10~15일 정도 (주말, 공휴일 제외)
                            소요 됩니다. 자세한 배송일자는 상품 상세 페이지에서 확인이 가능합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송지 주소를 변경하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>배송지 또는 받으시는 분의 연락처 등의 배송정보 변경은 정확한 변경처리를 위해 고객센터(1899-1234)로 문의주시면 변경해드리겠습니다.
                            <br><br>고객센터 운영시간은 평일 오전 9시부터 오후 5시까지입니다. (점심시간 별도로 없음)
                            <br>토,일요일 및 공휴일은 휴무입니다. BedBliss는 언제나 고객님의 편의를 위해 노력하고 있습니다. 감사합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송일정을 변경하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>해피콜 이후부터 배송 전까지 배송일자 변경 및 취소 가능합니다. 설치 전 모델 변경/취소 요청 시 고객센터(1899-1234)로 문의하신 후
                            구매하신 사이트로 접수 주시면 원활한 처리가 가능합니다.
                            <br>※ 구매 제품 모델 변경은 불가능하며, 기존 주문 취소 후 재주문 가능합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송 비용이 발생하나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>최초 배송/설치는 무료이며, 배송기사가 직접 조립/설치하여 드립니다.
                            <br><br>※ 사다리차 비용은 무료며, 엘리베이터 사용료 발생시 고객님 부담입니다.
                            <br>※ 구입 제품설치를 위한 무상서비스
                            <br>- 기존침대 '내림 서비스' 또는 다른 방 '이동 서비스' 중 1회 무상 제공(돌, 흙, 전동 등 특수침대 및 피아노 제외)
                            <br>- 폐기물 스티커는 고객님 별도 준비해야하며, 기존 상품 수거는 불가합니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송완료로 되어있는데 주문한 상품이 배송되지 않았어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>먼저 배송 지연으로 불편을 드려 죄송합니다. 주문 상품을 신속 정확하게 배송해 드려야 하나, 일부 상품은 재고부족, 생산 지연 등의 사유로 배송이 지연되는
                            경우가 있습니다. 보다 자세한 배송 현황 확인을 원하시는 경우 고객센터(1899-1234)로 연락주시면 안내해드리겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>휴일 배송은 안되나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>우체국 등기로 발송되는 상품의 경우 휴일 배송을 제공해드리지 못하고 있습니다. 다만, 설치 및 제작이 필요한 상품의 경우 또는 배송 지정일을 예약하신
                            고객님들께는 휴일 배송도 가능한 경우가 있으니 고객센터(1899-1234)로 연락주시면 안내해 드리겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>이사/이동 서비스가 있나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>제품 이용 중 조립/해체 및 이동(댁내 이동)을 원하시는 경우 유상 서비스로 진행되며, 고객센터(1899-1234)로 연락주시면 안내해 드리겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>제주도, 섬, 오지 및 일부 산간 지역도 배송이 가능한가요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>죄송합니다. 제주도, 섬, 오지 및 일부 산간 지역에 한하여 배송이 제한되거나 추가비용이 발생할 수 있습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>주문 취소는 어떻게 하나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>주문취소 신청은 주문한 상품이 발송되기 이전 구매의사를 철회하는 것으로 [결제완료] 상태에서만 즉시 주문취소가 가능합니다. 결제완료 이후 상품발송을 위한
                            배송 작업이 이미 시작되었을 경우에는 취소 요청이 거부되면 이 경우에는 반품으로 간주되므로 고객센터(1899-1234)로 문의 주시면 주문취소 가능 여부와
                            자세한 내용을 안내해 드리겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>주문 취소 후 상품을 배송받았는데 취소 처리하지 않고 사용하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>이미 카드 취소 및 현금 환불이 된 상태이므로 취소 주문 시와 동일한 조건으로 카드 재결제 및 현금 재입금 후 사용 가능합니다. 이 경우 고객센터(1899-1234)로
                            연락주시면 안내해 드리겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>배송 및 A/S 처리방법은 어떻게 되나요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>시몬스에서는 자체 배송팀을 운영하고 있습니다. 가능하면 전국 어디나 시몬스 소속의 2인 1조 전문 배송팀에서 배송 설치하여 드립니다.<br><br> 일반적으로 가구배송시 불친절이나
                            약속시간 미준수 등 많은 문제가 발생하고 있으나 시몬스에서는 철저한 교육을 통하여 친절하고 정확하게 배송해 드리고 있습니다. 고객님과 협의하여 배송 일정을 잡고,
                            배송일 하루 전에 반드시 확인 전화를 드립니다. 배송 당일에는 배송팀 휴대전화를 안내하는 문자 발송과 함께 도착 30분 ~ 1시간 전에 배송직원이 다시 확인 전화를 드리고 방문합니다.
                            <br><br>구매하신 제품에 대한 A/S는 ㈜시몬스의 A/S 규정에 따라 처리하고 있습니다. 시몬스 고객센터 (1899-8182)로 연락주시면 상세한 상담 및 접수가 가능합니다. 전문가의 확인과 처리가
                            필요한 사항의 경우 A/S 전문기사가 직접 방문하여 처리하여 드립니다.  A/S 전문기사의 일정상 조금 늦어질 경우도 있으나 시몬스에서는 시몬스 고객센터와 협의하여 일정 조정을 하여 가능한
                            빠르게 방문할 수 있도록 하고, 불가능할 경우 시몬스 자체 배송팀을 활용하여 빠른 처리를 해드리고 있습니다.<br><br>시몬스에서 구매하시는 고객님들에 대하여는 시몬스가 전적으로 책임을 지며 배송과
                            A/S처리를 해 드리고 있습니다.  간혹 타 대리점에서 구매하신 후에 불만사항을 시몬스플라자에 토로하시는 분들이 계신데 시몬스플라자와는 전혀 관계없는 사항임을 알려드립니다.
                            <br><br>시몬스의 친절하고 정확한 배송과 빠르고 확실한 A/S 처리를 경험해 보십시오.</p></div>
                    </dd>
                </dl>
              <dl class="con4" id="con4" style="display:none;">
                <div>
                    <img src="/images/img_war.jpg" alt="as무상보증사진">
                    <p>
                        <strong>BedBliss의 품질 자부심, 고객 서비스로 이어갑니다.</strong>
                        <br>
                        BedBliss는 포켓스프링 무상보증정책을 통해 제품의 우수성과 품질관리를 증명하고 있습니다.
                        <br>고의적인 파손이나 과실로 인한 하자를 제외하고는 15년간 발생하는 스프링 하자에 대하여 무상 서비스를 원칙으로 합니다.
                        <br><br>
                        ※ 사업자가 인정하는 제조상의 문제로 발생하는 하자에 한해서, 포켓스프링은 15년, 오픈스프링은 5년 무상보증정책을 적용하며,
                        <br>내장재 영구변형에 대해서는 3년, 그 외 일반적인 사항에 대해서는 1년 보증을 원칙으로 합니다.
                    </p>
                </div>
                    <table style="width:80%;border=0;margin:0 auto;">
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                            <col class="col3">
                            <col class>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">보증항목</th>
                                <th scope="col">보증기간</th>
                                <th scope="col">보증기준</th>
                                <th scope="col">비고</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>일반적 사항(모터 포함)</td>
                            <td>1년</td>
                            <td>무상수리</td>
                            <td rowspan="15" class="last" style="padding:20px;text-align:left;">
                                <dl>
                                    <dt>※ 보증기간 경과 시에는 유상수리</dt>
                                    <dd>보증기간은 구입일을 기준으로 하며 구입일 확인이<br>
                                    불가능한 경우에 제조일로부터 3개월이 경과된 시점을<br>
                                    구입일로 합니다.</dd>
                                    <dt>※ 부품 보유기간</dt>
                                    <dd>부품보유기간은 해당 모델의 생산중지 후 5년입니다.</dd>
                                    <dt>※ 매트리스 보증</dt>
                                    <dd>사업자가 인정하는 제조상의 문제로 발생하는<br>
                                    하자(스프링꺼짐, 스프링파손, 스프링 소음 등)에 한해서<br>
                                    포켓스프링은 15년, 오픈스프링은 5년 보증을 적용하고<br>
                                    내장재 영구 변형에 대해서는 3년,<br>
                                    그 외 일반적인 사항에 대해서는<br>
                                    1년 보증을 원칙으로 합니다.</dd>
                                    <dt>※ 비용부담</dt>
                                    <dd>
                                        <ol>
                                            <li>1. 무상수리: 수리에 소요되는 부품가 및 원자재 비용 등<br>
                                            제반비용을 사업자가 부담.</li>
                                            <li>2. 유상수리 : 수리에 소요되는 순수 부품대, 원자재 비용,<br>
                                            소정의 출장비 및 수리비를 소비자가 부담</li>
                                        </ol>
                                    </dd>
                                    <dt>※ 교환 및 환불 기준</dt>
                                    <dd>
                                        <ol>
                                            <li>1. 제품교환의 경우 동일제품으로 교환을 원칙으로 하며,<br>
                                            동일제품 교환이 불가능할 때에는 동급 이상의 제품으로<br>
                                            교환합니다.</li>
                                            <li>2. 교환 또는 환불의 경우 구입가격(증서 또는 영수증에<br>
                                            기재된 금액)을 기준으로 하며, 다만 구입가격의 입증이<br>
                                            불가능할 때에는 판매가격을 구입가격으로 봅니다.</li>
                                        </ol>
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">좀 등 벌레발생</td>
                            <td>10일 이내</td>
                            <td>제품교환 또는 구입가 환불</td>
                        </tr>
                        <tr>
                            <td>2년 이내</td>
                            <td>무상수리 또는 부품교환</td>
                        </tr>
                        <tr>
                            <td>동일하자 재발생</td>
                            <td>제품교환</td>
                        </tr>
                        <tr>
                            <td rowspan="4">도장불량 및 백화현상</td>
                            <td>10일 이내</td>
                            <td>제품교환 또는 구입가 환불</td>
                        </tr>
                        <tr>
                            <td>6개월 이내</td>
                            <td>제품교환</td>
                        </tr>
                        <tr>
                            <td>3년 이내</td>
                            <td>무상수리 또는 부품교환</td>
                        </tr>
                        <tr>
                            <td>동일하자 재발생</td>
                            <td>제품교환</td>
                        </tr>
                        <tr>
                            <td>색상의 차이</td>
                            <td>1개월 이내</td>
                            <td>제품교환(동일색상이 없을 경우 구입가 환불)</td>
                        </tr>
                        <tr>
                            <td>악취 등 자극성 냄새(화학약품 등)</td>
                            <td>6개월 이내</td>
                            <td>제품교환 또는 구입가 환불</td>
                        </tr>
                        <tr>
                            <td>규격치수 허용오차</td>
                            <td></td>
                            <td>제품교환</td>
                        </tr>
                        <tr>
                            <td rowspan="5">침대품질 불량(스프링,내장재,매트리스)</td>
                            <td>10일 이내</td>
                            <td>제품교환 또는 구입가 환불</td>
                        </tr>
                        <tr>
                            <td>1년 이내</td>
                            <td>부품교환 또는 제품교환</td>
                        </tr>
                        <tr>
                            <td>내장재 - 3년이내</td>
                            <td rowspan="3">부품교환 또는 무상수리</td>
                        </tr>
                        <tr>
                            <td>포켓 - 15년 이내</td>
                        </tr>
                        <tr>
                            <td>오픈 - 5년 이내</td>
                        </tr>
                        <tr>
                            <td>제조 또는 신제품 인도 시 생긴 흠집</td>
                            <td>15일 이내</td>
                            <td>제품교환</td>
                        </tr>
                        <tr>
                            <td class="last2">
                                품질보증 기간 내에 2회 수리를 받았으나<br>3회 동일하자 발생
                            </td>
                            <td></td>
                            <td>제품교환 또는 구입가 환불</td>
                        </tr>
                        </tbody>
                    </table>
              </dl>
            </div>
              <div class="cusCenter cf">
                  <div class="cs">
                      <span>고객센터<em>1899-1234</em></span>
                      <p>평일 9시-17시 / 토요일, 일요일, 공휴일 휴무</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
</html>