<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout2}">
<head>
    <meta charset="UTF-8">
    <title>Edit Member</title>
    <th:block layout:fragment="css">
        <style>
            input#email.form-control[readonly],
            input#phoneNumber.form-control[readonly] {
                background-color: #c4c4c4; /* 진한 색상으로 변경할 배경색 */
            }
            .error{color:#bd2130;}
            .placeholder-sm::placeholder{
                font-size:14px
            }
            a{
             color : #333;
             text-decoration:none;
             }
        </style>
    </th:block>
    <th:block layout:fragment="script">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
         function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    </script>

    </th:block>

</head>
<div layout:fragment="content">
    <div th:replace="fragments/myPageNavi::aside" class="myPageNavi"></div>
    <div class="container-fluid">
    <div class="row  d-flex justify-content-center align-items-center" style="padding:0 0px 0 200px 0">
        <div class="col-md-5 bg-light" style="height:">
            <div class="text-center" style="padding-top:30px;">
                <h2>회원정보 수정</h2>
            </div>
<!-- editForm.html -->
            <form method="post" th:action="@{/members/edit}" th:object="${memberEditFormDto}">
                <!-- email -->
                <div class="mb-3">
                    <label th:for="email" class="form-label">이메일</label>
                    <input type="text" id="email" name="email" class="form-control" th:field="*{email}" readonly>
                </div>
                <!-- 전화번호 -->
                <div class="mb-3">
                    <label th:for="phoneNumber" class="form-label">전화번호</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" th:field="*{phoneNumber}" readonly>
                </div>
                <!-- 닉네임 -->
                <div class="mb-3">
                    <label th:for="nickname" class="form-label">닉네임</label>
                    <input type="text" id="nickname" name="nickname" class="form-control" th:field="*{nickname}">
                </div>

                <!-- 주소 -->
                <div class="form-group mb-3" >
                    <label th:for="address">주소</label>
                    <br>
                    <input type="text" id="sample6_postcode" name="address.postcode" class="form-control placeholder-sm" style="width: 20%; margin-top:5px; display: inline;"  placeholder="우편번호" th:field="*{address.postcode}">
                    <input type="button" id="postbtn" class="btn btn-secondary btn-sm" onclick="sample6_execDaumPostcode()"  value="우편번호 찾기"><br>
                    <input type="text" id="sample6_address" name="address.address" class="form-control placeholder-sm" style="margin:5px 0;" placeholder="주소" th:field="*{address.address}">
                    <input type="text" id="sample6_detailAddress" name="address.detailAddress" class="form-control placeholder-sm" style="margin:5px 0;" placeholder="상세주소"  th:field="*{address.detailAddress}">
                    <input type="text" id="sample6_extraAddress" name="address.extraAddress" class="form-control placeholder-sm" style="margin:5px 0;" placeholder="참고항목" th:field="*{address.extraAddress}">
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
                </div>
                <!-- 새로운 암호 -->
                <div class="mb-3">
                    <label th:for="newPassword" class="form-label">새로운 암호</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" th:field="*{newPassword}">
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error">Invalid password</p>

                </div>
                <!-- 암호 확인 -->
                <div class="mb-3">
                    <label th:for="confirmPassword" class="form-label">암호 확인</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" th:field="*{confirmPassword}">
                    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error">Invalid password</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">수정</button>
                </div>
                <div class="text-center" style="padding:10px 0 10px 0">
                    <a href="/members/deactivate" class="btn btn-danger">회원 탈퇴</a>
                </div>
            </form>

        </div>
    </div>
</div>
</div>

</html>

