<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<th:block layout:fragment="script">
  <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchArticleType = $("#searchArticleType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/notices/" + page + "?searchDateType=" + searchDateType
            + "&searchArticleType=" + searchArticleType
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link th:href="@{/css/adminArtiList.css}" rel="stylesheet">
  <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">
  <div th:replace="fragments/adminNav::aside" class="adminNav"></div>
  <div class="adminNotice">
    <div class="text_center">
      <h2 class="display-5 mb-3">게시판 관리</h2>
      <p style="color:#777;font-size:15px;">게시글을 관리하는 페이지입니다.</p>
      <div class="notiSub">
        <form th:action="@{'/admin/notices/page=' + ${articleList.number}}" role="form" method="get" th:object="${articleList}">
          <div class="d-flex justify-content-center" th:object="${articleSearchDto}">
            <div id="articleSelect1">
            <label for="searchDateType"></label>
            <select name="searchDateType" th:field="*{searchDateType}" id="searchDateType">
              <option value="all">전체기간</option>
              <option value="1d">1일</option>
              <option value="1w">1주</option>
              <option value="1m">1개월</option>
              <option value="6m">6개월</option>
            </select>
          </div>
            <div id="articleSelect2">
            <label for="searchArticleType"></label>
              <select name="searchArticleType" id="searchArticleType" th:field="*{searchArticleType}">
                <option value="">전체</option>
                <option value="NEWS">언론보도</option>
                <option value="NOTI">공지사항</option>
              </select>
          </div>
            <div id="articleSelect3">
              <label for="searchBy"></label>
              <select name="searchBy" id="searchBy" th:field="*{searchBy}">
                <option value="title">제목</option>
                <option value="createdBy">작성자</option>
              </select>
            </div>
            <label for="searchQuery"></label>
            <input th:field="*{searchQuery}" id="searchQuery" type="text" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit">검색</button>
          </div>

          <table class="table">
            <colgroup>
              <col class="col1">
              <col class="col2">
              <col class="col3">
              <col class="col4">
              <col class="col5">
              <col class="col6">
            </colgroup>
            <thead>
            <tr>
              <td>#</td>
              <td>no.</td>
              <td>-</td>
              <td>제목</td>
              <td>작성자</td>
              <td>작성일</td>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="article, status: ${articleList.getContent()}">
              <td>
                <input type="checkbox" name="selectedArticles" th:value="${article.id}"/>
              </td>
              <td th:text="${article.id}"></td>
              <td th:text="${article.articleType == T(com.bed.constant.ArticleType).NEWS} ? '언론보도' : '공지사항'"></td>
              <td>
                <a th:href="'/admin/notice/'+${article.id}" th:text="${article.title}" class="artiCon"></a>
              </td>
              <td th:text="${article.createdBy}"></td>
              <td th:text="${#strings.substring(article.regTime, 0, 10)}"></td>
            </tr>
            </tbody>
          </table>
          <button class="delBtn" type="submit" formaction="/admin/notices/delete" formmethod="post">선택된 게시물 삭제</button>
          <a href="/admin/notice/create" class="writeBtn">글쓰기</a>
          <!--        페이지 버튼-->
          <!--        items.number 현재페이지를 의미. 0부터 시작-->
          <div id="paging" th:with="start=${(articleList.number/maxPage)*maxPage + 1}, end=(${(articleList.totalPages == 0) ? 1 : (start + (maxPage - 1) < articleList.totalPages ? start + (maxPage - 1) : articleList.totalPages)})" >
            <ul class="pagination justify-content-center">
              <!--                이전버튼-->
              <li class="page-item" th:classappend="${articleList.first}?'disabled'">
                <a th:onclick="'javascript:page(' + ${articleList.number - 1} + ')'" aria-label='Previous' class="page-link">
                  <span aria-hidden='true'>Previous</span>
                </a>
              </li>
              <!--                번호-->
              <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${articleList.number eq page-1}?'active':''">
                <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
              </li>
              <!--                다음버튼-->
              <li class="page-item" th:classappend="${articleList.last}?'disabled'">
                <a th:onclick="'javascript:page(' + ${articleList.number + 1} + ')'" aria-label='Next' class="page-link">
                  <span aria-hidden='true'>Next</span>
                </a>
              </li>

            </ul>
          </div>

          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

      </div>
    </div>
  </div>
</div>

</html>
