<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
  <link rel="stylesheet" href="/css/article.css">
  <script src="/jq/jquery.js"></script>
  <script src="/js/article.js"></script>
    <title>게시글수정</title>
</head>


<div layout:fragment="content">
  <div th:replace="fragments/adminNav::aside" class="adminNav"></div>
  <form class="container mt-3" action="/admin/notice/update" role="form" method="post" th:object="${ArticleDto}">
    <input type="hidden" th:value="${article.id}" name="id">
    <div class="mb-3">
      <label class="form-label">종류</label>
      <select id="articleType" name="articleType" class="form-control" style="width:auto;" th:value="${article.articleType}">
        <option value="" selected>선택해주세요</option>
        <option value="NEWS">언론보도</option>
        <option value="NOTI">공지사항</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" th:for="title">제목</label>
      <input type="text" class="form-control" name="title" th:value="${article.title}">
    </div>
    <div class="mb-3">
      <label class="form-label" th:for="content">내용</label>
      <textarea name="content" class="form-control" rows="3" th:text="${article.content}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">수정 완료</button>
    <a href="/admin/notice/${article.id}" class="btn btn-secondary">뒤로</a>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  </form>

</div>
</html>