<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<th:block layout:fragment="css">
  <style>
    .fieldError{color:#bd2130;}
  </style>
</th:block>
<!--사용자 스크립트 추가-->
<th:block layout:fragment="script">
<!--  <link href="summernote-bs5.css" rel="stylesheet">
  <script src="summernote-bs5.js"></script>-->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script th:inline="javascript">
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
          alert(errorMessage);
      }
    });
  </script>
</th:block>
<div layout:fragment="content">
  <div th:replace="fragments/adminNav::aside" class="adminNav"></div>
<div class="container mt-3">
  <form action="/admin/notice/create" method="post" role="form" th:object="${ArticleDto}">
    <div class="mb-3">
      <label class="form-label" th:for="articleType">종류</label>
      <select th:field="*{articleType}" class="form-control" style="width:auto;">
        <option value="" selected>선택해주세요</option>
        <option value="NEWS">언론보도</option>
        <option value="NOTI">공지사항</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" th:for="title">제목</label>
      <input type="text" class="form-control" th:field="*{title}">
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect data</p>
    </div>
    <div class="mb-3">
      <label class="form-label" th:for="content">내용</label>
<!--      <textarea th:field="*{content}" class="form-control" rows="3"></textarea>-->
      <textarea class="form-control" aria-label="With textarea" th:field="*{content}" id="summernote" name="summernote"
                maxlength="340" rows="10" ></textarea>
      <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect data</p>
    </div>
    <a href="/admin/notices" class="btn btn-primary">목록</a>
    <button type="submit" class="btn btn-primary">작성</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  </form>
  <script>
      $('#summernote').summernote({
          placeholder: '글을 작성해주세요.',
          tabsize: 10,
          height: 180,

          toolbar: [
              // [groupName, [list of button]]
              ['fontname', ['fontname']],
              ['fontsize', ['fontsize']],
              ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
              ['color', ['forecolor','color']],
              ['table', ['table']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert',['picture','link','video']],
              ['view', ['fullscreen', 'help']]
          ],
          fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
          fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']

      });
  </script>
</div>
</div>
</html>