<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
  <link th:href="@{/css/artiShow.css}" rel="stylesheet">
</th:block>


<div layout:fragment="content">

  <input type="hidden" id="id" th:value="${article.id}">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">
        <span th:if="${article.articleType == T(com.bed.constant.ArticleType).NEWS}" style="color:#555;">[언론보도]</span>
        <span th:unless="${article.articleType == T(com.bed.constant.ArticleType).NEWS}" style="color:#555;">[공지사항]</span>
        <p th:text="${article.title}" class="display-5"></p>
        <p th:text="${#strings.substring(article.regTime, 0, 10)}" style="color:#888;"></p>
      </th>
      <th scope="col"></th>
      <th scope="col"><p th:text="${article.createdBy}" style="font-weight:400;text-align:right;
          margin-right:100px;"></p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3" th:text="${article.content}" style="padding : 100px;"></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <a href="/CsCenter/notices" class="btn btn-outline-secondary">목록</a>
<!--  <a th:href="@{/articles/{id}/edit(id=${article.id})}" class="btn btn-warning">Edit</a>-->
<!--  <a th:href="@{/articles/{id}/delete(id=${article.id})}" class="btn btn-danger">Delete</a>-->
  <!-- Include the comments template -->
<!--  <div th:replace="comments/_comments"></div>-->
</div>
</html>