<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  css   -->
    <!--    <link rel="stylesheet" href="css/index.css">-->
    <link rel="stylesheet" href="css/layout1.css">
    <link rel="stylesheet" href="css/pay.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    function editOrder() {
        var address = $("#sample3_address").val();
        var detailAddress = $("#sample3_detailAddress").val();
        var mergedAddress = address + ", " + detailAddress; // 상세 주소와 주소를 합침

        var name = $("#name").val();
        var phone = $("#phone").val();
        console.log('이름:', name);
        console.log('연락처:', phone);

        console.log('배송지:', mergedAddress);

        // 서버로 전달할 데이터 객체 생성
        var paramData = {
            address: mergedAddress,
            name: name,
            phone: phone
        };

        $.ajax({
            url: "/delivery", // 저장 요청을 처리할 서버의 URL

            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(paramData), // 변수 이름을 deliveryInfo에서 paramData로 수정
            success: function(result) {

              alert("배송 정보가 저장되었습니다.");
              // 추가적인 작업이 필요한 경우, 예를 들어 다음 단계로 이동하거나 페이지를 새로고침하는 등의 작업 수행
            },
            error: function(jqXHR, status, error) {
              alert("배송 정보 저장에 실패했습니다. 다시 시도해주세요.");
            }
          });
        }

    </script>



    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- ㄴ 우편번호 찾기 daum API-->
</th:block>

<th:block layout:fragment="css">
    <style>
        .navbar-transparent {
            background: none ! important;
        }
        a.navbar-brand{
            margin-left:20px
        }

    </style>
</th:block>

<body>


<div th:fragment="header">
    <header>
        <div class="header-image"></div>
    </header>

    <style>
    .header-image {
        background-image: url('images/header.jpg');
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100px; /* 원하는 높이로 조정 */
    }
    </style>

</div>
<div layout:fragment="content">
    <form action="" >

        <div class="division" >
            <div class="wrap-left">
                <h1 class="order-txt">주문/결제</h1>
                <div >
                    <div class="orderer-info-box">
                        <p class="orderer-info-box-title">주문자 정보</p>

                        <div class="order-info-box-inner">

                            <div class="orderer-info-division">
                                <div class="orderer-info-txt">이름</div>
                                <input type="text" id="uname" th:value="${loggedInUsername}">
                            </div>

                            <div class="orderer-info-division">
                                <div class="orderer-info-txt">연락처</div>
                                <input type="text" id="uphone" th:value="${loggedInPhoneNumber}">
                            </div>

                            <div class="orderer-info-division">
                                <div class="orderer-info-txt">이메일</div>
                                <input type="email" id="email" th:value="${loggedInUserEmail}">
                            </div>
                        </div>
                    </div>

                    <form action="/pay" method="post" role="form" id="deliveryForm">
                        <div class="delivery-info-box">
                            <p class="delivery-info-box-title">배송 정보</p>

                            <div class="delivery-info-box-inner">

                                <div class="delivery-info-division">
                                    <div class="delivery-info-txt">이름</div>
                                    <input type="text" id="name" name="name" placeholder="배송인">
                                </div>

                                <div class="delivery-info-division">
                                    <div class="delivery-info-txt">연락처</div>
                                    <input type="text" id="phone" name="phone" placeholder="여백없이 입력해주세요.">
                                </div>


                                <div class="delivery-info-division">
                                    <div class="delivery-info-txt form-group mb-3">주소</div>

                                    <div class="post-box">
                                        <div class="post-btn-box ">
                                            <input type="text" class="form-control placeholder-sm"
                                                   name="address.postcode"
                                                   id="sample3_postcode"
                                                   style=" display: inline;"
                                                   placeholder="우편번호" readonly>

                                            <button type="button" id="postbtn"
                                                    class="btn btn-secondary btn-sm"
                                                    onclick="sample3_execDaumPostcode()"
                                                    value="우편번호 찾기">
                                                <i class="fa fa-search"></i>우편번호 찾기</button>
                                        </div>
                                        <br>
                                        <input type="text" id="sample3_address"
                                               name="address.address"
                                               class="form-control placeholder-sm"
                                               style="margin:5px 0;" placeholder="도로명 주소">
                                        <!--                                    <input-->
                                        <!--                                            type="text"-->
                                        <!--                                            name="address"-->
                                        <!--                                            id="address"-->
                                        <!--                                            placeholder="도로명 주소"-->
                                        <!--                                            readonly-->
                                        <!--                                    />-->


                                        <input type="text" id="sample3_detailAddress"
                                               name="address.detailAddress"
                                               class="form-control placeholder-sm"
                                               style="margin:5px 0;" placeholder="상세주소">
                                        <!--                                    <input-->
                                        <!--                                            type="text"-->
                                        <!--                                            name="detailAddress"-->
                                        <!--                                            id="detailAddress"-->
                                        <!--                                            placeholder="상세 주소"-->
                                        <!--                                    />-->

                                        <input type="text" id="sample3_extraAddress"
                                               name="address.extraAddress"
                                               class="form-control placeholder-sm"
                                               style="margin:5px 0;" placeholder="추가내용">

                                        <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                                        </div>
                                    </div>

                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="submit" class="btn btn-primary">저장</button>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="delivery-product-box" th:each="order : ${orders.getContent()}">
                        <p class="delivery-product-title">배송 상품</p>

                        <div class="delivery-product-box-inner" th:each="orderItem : ${order.orderItemDtoList}">
                            <div class="delivery-product-top" >
                                <a class="delivery-product-img" href=""><img class="delivery-product-img" th:src="${orderItem.imgUrl}" th:alt="${orderItem.itemNm}"></a>
                                <div class="delivery-product-info">
                                    <p th:text="${orderItem.itemNm}"></p>
                                    <span th:text="${orderItem.count} +'개'"></span>
                                    <span th:text="${orderItem.orderPrice} +'원'"></span>
                                </div>
                            </div>


                            <div class="delivery-product-down" >
                                <span class="order-count" >
                                    총
                                    <span th:text="${orderItem.count}"></span>
                                    <!--                                        <span class="text-green">${payDetailDto.amount}</span>-->
                                    개
                                </span>

                                <span class="order-total-price">
                                    <span name="totalPrice" th:text="${orderItem.orderPrice * orderItem.count}"></span>

                                    <!--                                        ${payDetailDto.totalPrice}-->
                                    원
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap-right" th:each="order : ${orders.getContent()}">
                <div class="payment-box" th:each="orderItem : ${order.orderItemDtoList}">
                    <div class="payment-box-bottom" >
                        <div class="payment-box-title">결제금액</div>

                        <div class="payment-division" >
                            <div class="payment-left">주문 상품 수</div>
                            <span class="payment-right" name="totalCount" id="order-count" th:text="${orderItem.count} + '개'"></span>
                            <!--                            <div class="payment-right">${payDetailDto.amount}개</div>-->
                        </div>
                        <div class="payment-division">
                            <div class="payment-left">총 상품 가격</div>
                            <span class="payment-right" name="totalPrice" id="total-price" th:text="${orderItem.orderPrice * orderItem.count} + '원'"></span>
                            <!--                            <div class="payment-right" id="total-price">${payDetailDto.totalPrice}원</div>-->
                        </div>
                        <div class="payment-division">
                            <div class="payment-left">배송비</div>
                            <div class="payment-right">전상품 무료 배송</div>
                        </div>
                    </div>

                    <div class="payment-division">
                        <div class="total-payment-left">최종 결제 금액</div>
                        <span class="total-payment-right" name="totalPrice" id="total-price" th:text="${orderItem.orderPrice * orderItem.count} + '원'"></span>
                        <!--                        <div class="total-payment-right" id="final-price">${payDetailDto.totalPrice}원</div>-->
                    </div>
                    <button class="payment-btn" type="button" onclick="handleButtonClick()" > 결제하기 </button>

                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample3_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample3_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample3_postcode').value = data.zonecode;
                document.getElementById("sample3_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample3_detailAddress").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }

</script>
<script>
  var totalCount = 0; // 총 주문 상품 수를 누적시킬 변수
    var totalPrice = 0; // 총 상품 가격을 누적시킬 변수

    var countElements = document.getElementsByName("totalCount"); // 주문 상품 수 요소들을 가져옴
    var priceElements = document.getElementsByName("totalPrice"); // 상품 가격 요소들을 가져옴

    for (var i = 0; i < countElements.length; i++) {
        var count = parseInt(countElements[i].textContent); // 해당 요소의 텍스트 값을 정수로 변환
        var price = parseInt(priceElements[i].textContent); // 해당 요소의 텍스트 값을 정수로 변환

        totalCount += count; // 총 주문 상품 수 누적
        totalPrice += price; // 총 상품 가격 누적
    }

    document.getElementById("total-count").textContent = totalCount + "개"; // 총 주문 상품 수 출력
    document.getElementById("total-price").textContent = totalPrice + "원"; // 총 상품 가격 출력

</script>