<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout-->
<!--      layout:decorate="~{layouts/layout1}"-->
<!--&gt;-->

<!--<head>-->
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<!--</head>-->

<!--&lt;!&ndash; 사용자 스크립트 추가&ndash;&gt;-->
<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->

<!--    </script>-->
<!--</th:block>-->

<!--&lt;!&ndash; 사용자 CSS 추가 &ndash;&gt;-->
<!--<link rel="stylesheet" href="/css/pay.css">-->
<!--<th:block layout:fragment="css">-->

<!--</th:block>-->
<!--<div layout:fragment="content">-->
<!--    <form action="" onsubmit="iamport(event)">-->

<!--        <div class="division">-->
<!--            <div class="wrap-left">-->
<!--                <h1 class="order-txt">주문/결제</h1>-->
<!--                <div>-->
<!--                    <div class="orderer-info-box" >-->
<!--                        <p class="orderer-info-box-title">주문자 정보</p>-->

<!--                        <div class="order-info-box-inner">-->

<!--                            <div class="orderer-info-division">-->
<!--                                <div class="orderer-info-txt">이름</div>-->
<!--                                <input type="text" id="uname" th:value="${member.name}">-->
<!--                            </div>-->

<!--                            <div class="orderer-info-division">-->
<!--                                <div class="orderer-info-txt">연락처</div>-->
<!--                                <input type="text" id="uphone" th:value="${member.phone_number}">-->
<!--                            </div>-->

<!--                            <div class="orderer-info-division">-->
<!--                                <div class="orderer-info-txt">이메일</div>-->
<!--                                <input type="email" id="email" th:value="${member.email}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="delivery-info-box">-->
<!--                        <p class="delivery-info-box-title">배송 정보</p>-->

<!--                        <div class="delivery-info-box-inner">-->

<!--                            <div class="delivery-info-division">-->
<!--                                <div class="delivery-info-txt">이름</div>-->
<!--                                <input type="text" id="name" >-->
<!--                            </div>-->

<!--                            <div class="delivery-info-division">-->
<!--                                <div class="delivery-info-txt">연락처</div>-->
<!--                                <input type="text" id="phone" placeholder="여백없이 입력해주세요." >-->
<!--                            </div>-->


<!--                            <div class="delivery-info-division">-->
<!--                                <div class="delivery-info-txt">주소</div>-->

<!--                                <div class="post-box">-->
<!--                                    <div class="post-btn-box">-->
<!--                                        <input type="text" class="" name="postcode" id="postcode" placeholder="우편번호" readonly  >-->
<!--                                        <button type="button" class="post-find-btn" onclick="execDaumPostcode()">우편번호 찾기</button>-->
<!--                                    </div>-->
<!--                                    <input-->
<!--                                            type="text"-->
<!--                                            name="address"-->
<!--                                            id="address"-->
<!--                                            placeholder="도로명 주소"-->
<!--                                            readonly-->
<!--                                    />-->

<!--                                    <input-->
<!--                                            type="text"-->
<!--                                            name="detailAddress"-->
<!--                                            id="detailAddress"-->
<!--                                            placeholder="상세 주소"-->

<!--                                    />-->
<!--                                </div>-->

<!--                            </div>-->

<!--                            &lt;!&ndash; <div class="delivery-ask-txt">배송 요청 사항</div>-->
<!--                            <button type="button" class="delivery-ask-btn" onclick="">직접 수령할게요.</button> &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="delivery-product-box" >-->
<!--                        <p class="delivery-product-title">배송 상품</p>-->

<!--                        <div class="delivery-product-box-inner">-->
<!--                            <div class="delivery-product-top">-->
<!--                                <a class="delivery-product-img" href=""><img class="delivery-product-img" src="/upload/${payDetailDto.url}" alt=""></a>-->
<!--                                <div class="delivery-product-info">-->
<!--                                    <div class="delivery-product-brand">${payDetailDto.brand}</div>-->
<!--                                    <div class="delivery-product-name">${payDetailDto.name}</div>-->
<!--                                    <div class="delivery-product-price">${payDetailDto.price}</div>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="delivery-product-down">-->
<!--								<span class="order-count">-->
<!--									총-->
<!--									<span class="text-green">${payDetailDto.amount}</span>-->
<!--									개-->
<!--								</span>-->

<!--                                <span class="order-total-price">-->
<!--									${payDetailDto.totalPrice}-->
<!--									원-->
<!--								</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="wrap-right">-->
<!--                <div class="payment-box">-->
<!--                    <div class="payment-box-bottom">-->
<!--                        <div class="payment-box-title">결제금액</div>-->

<!--                        <div class="payment-division">-->
<!--                            <div class="payment-left">주문 상품 수</div>-->
<!--                            <div class="payment-right">${payDetailDto.amount}개</div>-->
<!--                        </div>-->
<!--                        <div class="payment-division">-->
<!--                            <div class="payment-left">총 상품 가격</div>-->
<!--                            <div class="payment-right" id="total-price">${payDetailDto.totalPrice}원</div>-->
<!--                        </div>-->
<!--                        <div class="payment-division">-->
<!--                            <div class="payment-left">배송비</div>-->
<!--                            <div class="payment-right">전상품 무료 배송</div>-->
<!--                        </div>-->
<!--                        <div class="payment-division">-->
<!--                            <div class="payment-left">남은 포인트</div>-->
<!--                            <div class="payment-right" id="now-point">${principal.user.point.amount}원</div>-->
<!--                        </div>-->
<!--                        <div class="payment-division">-->
<!--                            <div class="payment-left">포인트 사용</div>-->
<!--                            <div class="payment-right">-->
<!--                                <input type="number" class="point-input" id="point" min="0" max="${principal.user.point.amount}" value="0">원-->
<!--                                <button id="use-all-points">전체 사용</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="payment-division">-->
<!--                            <span class="max-point-msg" style="color: #ff0000; font-size: 10px;">※최대 포인트 ${payDetailDto.totalPrice/2}원까지 사용 가능한 상품입니다.</span>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="payment-division">-->
<!--                        <div class="total-payment-left">최종 결제 금액</div>-->
<!--                        <div class="total-payment-right" id="final-price">${payDetailDto.totalPrice}원</div>-->
<!--                    </div>-->
<!--                    <input class="payment-btn" type="submit" value="결제하기">-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</html>-->