<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<th:block layout:fragment="css">
    <style>
    .navbar-transparent {
        background: none ! important;
    }
    </style>
</th:block>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-transparent p-1 fixed-top" >
        <div class="container-fluid">
            <a class="navbar-brand fs-1" th:style="'margin-left:20px;'" href="/">BedBliss</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-5 p-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/item/buy">Bed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mattress">Mattress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/story/gallery">Factory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/CsCenter/faq">C/S</a>
                    </li>
                </ul>
                <li class="nav-item p-3" sec:authorize="isAnonymous()">
                    <a class="nav-link active" aria-current="page" href="/members/login">Login</a>
                </li>
                <li class="nav-item p-3"  sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.principal.nickname}"></span>
                    <span>님 환영합니다.</span>
                </li>
<!--                <li class="nav-item dropdown p-3 " sec:authorize="hasAnyAuthority('ROLE_USER')">-->
<!--                <li class="nav-item dropdown p-3 " sec:authorize="hasAnyAuthority('USER')">-->
                <li class="nav-item dropdown p-3 " sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        MyPage
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/cart">장바구니</a></li>
                        <li><a class="dropdown-item" href="/${memberId}/orders">구매이력</a></li>
                        <li><a class="dropdown-item" href="/user/asSubmits">AS신청확인</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/members/edit/password">정보수정</a></li>
                    </ul>
                </li>
<!--                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN')">-->
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/item/new">상품등록</a></li>
                        <li><a class="dropdown-item" href="/admin/items">상품관리</a></li>
                        <li><a class="dropdown-item" href="/admin/members">회원관리</a></li>
                        <li><a class="dropdown-item" href="/admin/notices">게시판관리</a></li>
                        <li><a class="dropdown-item" href="/admin/asSubmits">AS신청확인</a></li>
                        <li><a class="dropdown-item" href="/admin/orders">주문관리</a></li>
                    </ul>
                </li>
                <li class="nav-item p-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" href="/members/logout">Logout</a>
                </li>
            </div>
        </div>
    </nav>
</div>
</html>