{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {{#coffeeEntityList}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/articles/coffee{{id}}">{{name}}</a></th>
            <th>{{price}}</th>
        </tr>
    {{/coffeeEntityList}}
    </tbody>
</table>
<a href="/articles/cnew">New Article</a>
{{>layouts/footer}}