{{>layouts/header}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        {{#coffee}}
            <tr>
                <th>{{id}}</th>
                <th>{{name}}</th>
                <th>{{price}}</th>
            </tr>
        {{/coffee}}
        </tbody>
    </table>
    <a href="/articles/coffee{{coffee.id}}/cedit" class="btn btn-primary">수정</a>
    <a href="/articles/coffee{{coffee.id}}/cdelete" class="btn btn-danger">삭제</a>
    <a href="/articles/cindex">Go to Article List</a>
<!--상세페이지에서 목록으로-->
{{>layouts/footer}}